body {
  margin: 0;
}

.header {
  grid-area: h;
  width: 100%;
  height: 10vh;
  background: rebeccapurple;
}

.footer {
  grid-area: f;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24pt;
  width: 100%;
  height: 10vh;
  background: rebeccapurple;
}

.stuff {
  grid-area: b;
  height: 80vh;
}

.container {
  height: fit-content(100%);
  display: grid;
  grid-template-areas:
    'h'
    'b'
    'f';
}
